<section class="arrival_section">
    <div class="container">
        <div class="box">
            <div class="arrival_bg_box">
                <img src="{{ section.settings.bg_image | img_url:'master' }}" alt="">
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto">
                    <div class="heading_container remove_line_bt">
                        <h2>
                            New Arrivals
                        </h2>
                    </div>
                    <p style="margin-top: 20px;margin-bottom: 30px;">
                        Vitae fugiat laboriosam officia perferendis provident aliquid voluptatibus dolorem, fugit ullam
                        sit earum
                        id eaque nisi hic? Tenetur commodi, nisi rem vel, ea eaque ab ipsa, autem similique ex unde!
                    </p>
                    <div class="btn-box">
                        <a href="" class="btn1">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
{
"name": "New Arrival",
"settings": [
{
"type":"header",
"content":"New Arrival Section"
},
{
"type":"image_picker",
"id":"bg_image",
"label":"Uplaod your image"
},
{
"type":"textarea",
"id":"heading",
"label":"Type your heading"
},
{
"type":"textarea",
"id":"paragraph",
"label":"Type your paragraph"
},
{
"type":"text",
"id":"btn_text",
"label":"Type your button text"
},
{
"type":"url",
"id":"btn_url",
"label":"Insert your url"
}
],
"blocks": [
{
"type":"text",
"name":"Arrival",
"settings":[

{
"type":"textarea",
"id":"heading",
"label":"Type your heading"
},
{
"type":"textarea",
"id":"paragraph",
"label":"Type your paragraph"
},
{
"type":"text",
"id":"btn_text",
"label":"Type your button text"
},
{
"type":"url",
"id":"btn_url",
"label":"Insert your url"
}
]
}
],
"presets": [
{
"name": "New Arrival",
"blocks": [
{
"type": "text"
}

]
}
]
}
{% endschema %}